@foreach (var item in Produtos)
{
    <div class="col-md-3 mb-2">
        <a href="#">
            <div class="card">
                <img class="img-thumbnail" src="@item.ImagemUrl" />
                <div class="card-body">
                    <h5 class="card-title m-3">
                        @item.Preco.ToString("C")
                    </h5>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ProdutoDto>? Produtos { get; set; }


}
