@implements IDisposable
@inject ICarrinhoCompraService carrinhoCompraService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorShop.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <ProdutosCategoriaNavMenu></ProdutosCategoriaNavMenu>
        <div class="nav-item px-3 d-sm-none">
            <NavLink class="nav-link" href="carrinho/compra">
                <i class="bi bi-handbag-fill" mb-4" aria-hidden="true"></i>&nbsp;Carrinho (<b>@_carrinhoCompraItemContador</b>)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private int _carrinhoCompraItemContador;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged += CarrinhoCompraChanged;
    }


    protected void CarrinhoCompraChanged(int totalQuantidade)
    {
        _carrinhoCompraItemContador = totalQuantidade;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged -= CarrinhoCompraChanged;
    }
}
